@font-face {
  font-family: "iconfont"; /* Project id 4570221 */
  src: url('iconfont.woff2?t=1717228741398') format('woff2'),
       url('iconfont.woff?t=1717228741398') format('woff'),
       url('iconfont.ttf?t=1717228741398') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e6a9";
}

.icon-account:before {
  content: "\e60a";
}

